p {
  color: black;
  font-family: Lato;
  font-weight: 300;
}

.main-heading {
  font-weight: 700;
  font-size: 1.4em;
  margin-bottom: 0;
}

.attribute-label {
  font-style: italic;
  font-size: 1.3em;
  margin: 0;
}

.attribute-value {
  font-style: italic;
  font-weight: 500;
  font-size: 1.4em;
  margin: 0;
}

.mini-attribute {
  font-size: 1.4em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0.2em;
  margin-bottom: 0.3em;
}
